.nav-link:hover{
    color: aqua;
}
#p1{
    font-size:18px;
    font-weight: bold;
}.navbar-brand{
  font-weight: bold;
  /*font-size: 29px;*/
}
.nav-link{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
}
.icon{
  transition: transform.2s;
  
  height: fit-content;
}
/*#links-connect{

}*/
.i{
  color: white;
}
.icon:hover{
  transform: scale(1.5);
}
#contact-me{
  background-color: rgba(15, 15, 15,10);
}
.l-contact{
  color: white;
}
.p-contact{
  color: white;
  font-size: 12px;
}  
.h-skills{
  color: rgb(109, 112, 104);
}    
#btn-submit:hover{
  background-color: rgb(197, 169, 75);
}   
#profile-section{
  background:linear-gradient(to bottom left,rgb(32, 37, 32),black);
}
#overlay{
  display: none;
  
  position: fixed;
  height: 100%;
  width: 100%;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(15, 15, 15, 0.856);
  cursor: pointer;
}
/*#top-scrl{
  border-style: solid;
  position: fixed;
  z-index: 1;
  bottom: 25px;
  right: 25px;
}*/
#top-arrow{
  color: aqua;
  font-size: 2.5rem;
  cursor: pointer;
}
.progress{
  height: 12px;
}
.service-icon{
  color:color-mix(in hsl shorter hue, rgb(17, 204, 17) 50%, rgb(80, 216, 175) 50%);
  font-size: 50px
}
.disabled{
  color: rgb(122, 121, 121); /*Both backend works are disabled -- class added disabled*/
}
#nav-bar{
  background:linear-gradient(to bottom left,rgb(46, 61, 46),black);
}
#sec-portfolio{
  display: none;
}
#btn-to-portfolio{
  position: relative;
  cursor: pointer;
  
  width: fit-content;
}

/*#info{
  /*border-style: solid;*
}*/
#name-header{
  font-size: 45px;
}
@media (max-width:760px){
  #name-header{
    font-size: 25px;
  }
}
div#content{
  padding-right: 13rem;
}
@media (max-width:992px){
  div#content{
    padding-right: 5px;
  }
}
.navbar-toggler{
    border: none;
    background-color: rgb(247, 250, 247);
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
  outline: none;
  border: none;
  box-shadow: none;
}
.overlay{
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  height: 100%;
  width: 100%;
  position: relative;
}
#about-me{
  background-image: url(Images/desktop-wallpaper-nillia-webdesign-web-development-management.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
  
  
}
#about-content{
  padding-right: 32rem;
}

@media (max-width:1000px){
  #about-content{
    padding-right: 14rem;;
  }
}
@media (max-width:760px){
  #about-content{
    padding-right: 5px;
  }
  #about-me{
    background-size: cover
  }
}
#services{
  /*background-image: url(Images/key.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;*/
  background-color: rgba(15, 15, 15,10);
}
.simple{
  background-image: url(Images/ben10.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 10em;width: auto;
}
.advanced{
  background-image: url(Images/ben10.jpg);
  filter: grayscale();
  background-repeat: no-repeat;
  background-size: cover;
  height: 10em;width: auto;
}
.others{
  background-image: url(Images/ben10.jpg);
  filter: grayscale();
  background-repeat: no-repeat;
  background-size: cover;
  height: 10em;width: auto;
}
.te{
  font-size: 20px;
}
.te-disabled{
  color: rgb(107, 106, 106);
  font-size: 20px;
}
.half-hover{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(66, 64, 64, 0.733);
  opacity: 1;
  height: 89%;
  
  
}
.half-hover button{
  height: 30px;width: 60px;
  background-color: rgb(247, 244, 248);
  color: black;
  border: none;
  border-radius: 9px;
}
.skills-format-font{
  color: rgb(13, 14, 13);
}
.card-service{
  background:linear-gradient(to bottom left,rgb(10, 10, 10),rgb(60, 97, 60))
}
.ms-3{
  color: rgb(80, 216, 175);
}
.footer{
  background:linear-gradient(to bottom left,rgb(10, 10, 10),rgb(60, 97, 60))
}
.icon-skills{
  color:white;
}
#skills{
  background-color: rgba(15, 15, 15,10);
}
code{
  color:white
}
